<li class="nav-item">
  <%= link_to('Kategorie postów', post_categories_path, class: 'nav-link active', aria_current:'page')%>
</li>

<li class="nav-item">
  <%= link_to('Wpisy', posts_path, class: 'nav-link active', aria_current:'page')%>
</li>

<li class="nav-item">
 <%= link_to('Wydarzenia', events_path, class: 'nav-link active', aria_current:'page')%>
</li>