<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Na czasie</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#">Wybrane dla Ciebie</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Wydarzenia</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Sklep</a>
</li>
