<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Member</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#">Courses</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Blog</a>
</li>

<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">Event</a>
</li>
