<p style="color: green"><%= notice %></p>

<h1>Product sub categories</h1>

<div id="product_sub_categories">
  <% @product_sub_categories.each do |product_sub_category| %>
    <%= render product_sub_category %>
    <p>
      <%= link_to "Show this product sub category", product_sub_category %>
    </p>
  <% end %>
</div>

<%= link_to "New product sub category", new_product_sub_category_path %>
