<li class="list-group-item d-flex align-items-start">
  <div class="ms-2 me-auto">
    <%= link_to 'Zablokowani użytkownicy', users_show_blocked_path(current_user.uuid), data: { turbo_frame: :dynamic_content }, class: 'link-underline link-underline-opacity-0'%>
  </div>
  <span class="badge bg-primary rounded-pill">
    <%= presenter.total_blocked %>
  </span>
</li>
