<div class='col' style="min-width: 150px">
  <% if user.avatar.content_type.in?(%w[image/jpeg image/png])%>
    <%= image_tag user.mini_avatar, class: 'rounded-circle'%>
  <% end %>
</div>

<div class='col align-text-middle align-middle'>
    <%= link_to user.full_name, users_profile_path(user.uuid), class: 'btn btn-outline-primary my-auto', data: { turbo: false } %>
</div>

<% if current_user != user %>
  <%= render 'user_actions_row', user: user %>
<% else %>
  <div class="col"></div>
  <div class="col"></div>
<% end %>
