<div class="btn-group">
  <%= render following_partial_name(presenter.user), user_uuid: presenter.user.uuid %>
  <%= render block_partial_name(presenter.user), user_uuid: presenter.user.uuid %>
</div>
