
<div id="post_categories">
  <h2 class="mb-4">Kategorie postów</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Szczegóły</th>
      </tr>
    </thead>
    <tbody>
        <% @post_categories.each do |post_category| %>
          <%= render 'row_post_category', post_category: post_category %>
        <% end %>
    </tbody>
  </table>

  <%= link_to "Dodaj kategorię", new_post_category_path,  class: 'btn btn-success'%>
</div>

