<div class="btn-group">
  <%= button_to "Edytuj wydarzenie", edit_event_path(@object), method: :get, class: 'btn btn-info mx-2' %>
  <%= button_to "Usuń wydarzenie", @object, method: :delete, class: 'btn btn-danger' %>
</div>
