<%= render @object %>

<div class="container m-5 p-5">
  <%= link_to "Edytuj wydarzenie", edit_event_path(@object), class: 'btn btn-info mb-2' %> |
  <%= link_to "Powrót", events_path, class: 'btn btn-light mb-2' %>
  <%= button_to "Usuń wydarzenie", @object, method: :delete, class: 'btn btn-danger' %>
</div>

