<%= render @object %>

<div>
  <%= link_to "Edit this event", edit_event_path(@object) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @object, method: :delete %>
</div>
