<%= turbo_frame_tag :dynamic_content do %>
  <div id="events" class="container mt-5">
    <h2 class="mb-4">Moje wydarzenia:</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Data</th>
          <th scope="col">Godzina</th>
          <th scope="col">Miasto</th>
          <th scope="col">Ulica</th>
          <th scope="col">Cena</th>
          <th scope="col">Dostępne bilety</th>
          <th scope="col">Szczegóły </th>
        </tr>
      </thead>
      <tbody>
          <% @events.each do |event| %>
            <%= render 'row_event', event: event %>
          <% end %>
      </tbody>
    </table>
  </div>
<% end %>