<div class="btn-group m-4">
  <%= button_to "Edytuj post", edit_post_path(post), method: :get, class: 'btn btn-info mx-2' %>
  <%= button_to "Usuń post", post, method: :delete, class: 'btn btn-danger'%>
</div>
