<h1> Posty obserwowanych przez Ciebie użytkowników </h1>

<div id="posts">
  <div id="anchorLink">
    <div class="container text-center">
      <% @posts.each do |post| %>
        <div class="row rounded-3 grey my-3 p-3">
          <%= render 'post_row', post: post %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @posts %></div>
</div>
