<%= render @object %>

<div>
  <%= link_to "Edit this post", edit_post_path(@object) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @object, method: :delete %>
</div>
