#error_explanation {
  width: 30%;
  margin: auto;
}

.round {
  border-radius: 3px !important;
  margin-top: 5px !important;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 800px;
}


.center {
  width: 80%;
  margin: auto;
}
